{% extends "base.html" %}

{% block title %}Change Password{% endblock title %}

{% block navitems %}
{% include "long_nav.html" %}
{% endblock navitems%}


{% block body %}
<p class="h1">Change Password</p>

<form id="form" method="POST" class="needs-validation" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        <label for="old-password" class="form-label">Old password</label>
        <input type="password" class="form-control" id="old-password" placeholder="Old password" name="old-password" required>
    </div>
    <div class="mb-3">
        <label for="new-password" class="form-label">New password</label>
        <input type="password" class="form-control" id="new-password" placeholder="New password" name="new-password" required>
        <ul class="form-text">
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>
    </div>
    <div class="mb-3">
        <label for="cnew-password" class="formlabel">Conform new password</label>
        <input type="password" class="form-control" id="cnew-password" name="cnew-password" placeholder="Confirm new password" required>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-success">Change</button>
    </div>
</form>
{% endblock body %}