{% extends "base.html" %}

{% block title %}Reset Password{% endblock title %}

{% block navitems %}
{% include "short_nav.html" %}
{% endblock navitems %}

{% block body %}
<p class="h1">Reset Password</p>

<form action="">
    <div class="mb-3">
        <label for="email-or-username" class="form-label">Email or Username</label>
        <input type="text" class="form-control" placeholder="Email or Username">
    </div>
    <div class="mb-3">
        <button class="btn btn-primary">Next</button>
    </div>
</form>

<hr>
<ul>
    <li><a href="" style="text-decoration: none;">Log in</a></li>
</ul>

{% endblock body %}